*{box-sizing: border-box;
margin: 0;
font-family: Arial;}

.container::after{clear: both;
content: "";
display: table;}

.container{width: 100%;
height: 100%;}

.cont_gen{width: 80%;
height: 100%;
margin: 0 auto;
border: 1px solid red;
position: relative;
}

/* contenuto barra login */
.login{width: 100%;
height: 80px;
background-color:#e6eff2;
border-top: 1px solid black;
border-bottom: 1px solid black;
position:fixed;
left: 0;
top: 0;
z-index: 1;}

.login .cont_gen div{display: inline-block;}

.eng{width: 10%;}

.eng, .cont{float: left;
display: inline-block;
font-size: 20px;
line-height: 80px;}

.login .cont_gen a {display: inline-block;
text-decoration: none;
color: black;}

.login .cont_gen i{display: inline-block;}

.search, .log, .free{float: right;
line-height: 80px;
margin: 0 20px;}

.log button, .free button {width: 80px;
height: 40px;
border-radius: 2px;
border-color: orange;
border: 1px solid orange;
background-color: white;
color: orange;}

.free button {width: 160px;
color: white;
background-color: orange;}

.login::after{clear: both;
content: "";
display: table;}

/* contenuto barra navigazione */
nav{width: 100%;
height: 80px;
background-color: white;
float: left;
margin-top: 80px;}

.cont_gen .logo1{width: 10%;
height: 100%;
float: left;}

#navi li{display: inline-block;
float: right;
line-height: 80px;
margin-right: 30px;}

#navi li a{text-decoration: none;
color: black;
font-size: 20px;}

/* contenuto barra nera sotto la nav */
.bar_black{width: 100%;
height: 80px;
background-color: black;
float: left;}

.cont_gen .attention{width: 70%;
height: 100%;
color: white;
display: inline-block;
line-height: 80px;
font-size: 16px;}

.cont_gen .listen{float: right;
line-height: 80px;}

.listen button{width: 150px;
height: 40px;
margin-right: 210px;
}

/* contenuto blocco immagine 1 blue */
.cont_img1{width: 100%;
height: 700px;
background-color: #04a5e0;
border-bottom: 2px solid black;
float: left;}

.cont_gen .there{float: left;
width: 40%;
height: 300px;
margin-top: 100px;}

.cont_gen .there h1{font-size: 55px;
color: white;}

.cont_gen .there p{margin-top: 20px;
color: white;}

.cont_gen .there button {width: 220px;
height: 70px;
margin-top: 20px;
font-weight: bold;}

#foot_there{font-size: 12px;}

/* contenuto immagine 2 con cubo e blocchi */
.cont_img2{width: 100%;
height: 600px;
background-color: #e6eff2;
float: left;}

.cont_gen .kubik{width: 70%;
height: 400px;
text-align: center;
float: left;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
position: absolute;
}

.kubik img{width: 400px;}

.kubik h2{font-size: 30px;
margin-bottom: 20px;}

/* contenuto blocco orizontale sotto cubo */
.cont_img3{width: 100%;
height: 300px;
background-color:#e6eff2;
border: 1px solid black;
float: left;}

#back_white{background-color: white;}
.cont_gen .img_libro{width: 30%;
height: 100%;
border: 1px solid black;
float: left;
background-color: white;
position: relative;}

.cont_gen .text_libro{width: 60%;
height: 100%;
border: 1px solid black;
float: right;
background-color: white;}

.img_libro img {width: 300px;
position: absolute;
left: 50%;
transform: translate(-50%);}

.img_libro button{position: absolute;
left: 50%;
top: 90%;
transform: translate(-50%, -90%);
width: 150px;
height: 40px;
color: white;
background-color: orange;
font-weight: bold;
border: none;
}

.text_libro h3 {margin-top: 30px;
margin-bottom: 20px;
font-size: 20px;}

.text_libro h4{ margin: 40px 0px;}

.text_libro p{padding-right: 100px;}

.text_libro i{color: orange;}
/* comtenuto container con tre blocchi verticali */
.cont_3blocchi{width: 100%;
height: 700px;
background-color:#e6eff2;
border: 1px solid black;
float: left;}

.col_1, .col_2, .col_3{width: 30%;
height: 600px;
background-color: white;
border: 1px solid black;}

.col_1{float: left;}

.col_2{float: right;}

.col_3{float: right;
margin-right: 5%;}

/* container testo in spazio verde */
.container_green1{width: 100%;
height: 300px;
background-color: #16cebc;
border: 1px solid black;
float: left;
}

.cont_gen .text{text-align: center;
color: white;
width: 80%;}

/* container tabella in spazio verde */
.container_green2{width: 100%;
height: 600px;
background-color: #16cebc;
border: 1px solid black;
float: left;}

.cont_gen .tab{width: 100%;
height:500px;
border: 1px solid black;}

.tab .block{ width: 25%;
height: 50%;
border: 1px solid black;
float: left;}

/* container spazio bianco con testo e icone */
.white_icons{width: 100%;
height: 500px;
background-color: white;
border: 1px solid black;
float: left;}

.cont_gen .w_text{width: 30%;
height: 40%;
border: 1px solid black;
float: left;}

.cont_gen .w_icons{width: 50%;
height: 60%;
border: 1px solid black;
float: right;}

.w_icons .icon{width: 25%;
height:50%;
border: 1px solid black;
float: left;}

/* container spazio bianco con testo e foto ragazza */
.white_foto{width: 100%;
height: 600px;
border: 1px solid black;
background-color: white;
float: left;}

.cont_gen .w_button{width: 40%;
height: 70%;
border: 1px solid black;
float: left;}

.cont_gen .w_girl{width: 40%;
height: 70%;
border: 1px solid black;
float: right;}

/* contenuto liste footer */
footer{width: 100%;
height: 100%;
background-color: black;
float: left;}

.foot_cont{width: 100%;
height: 500px;
background-color: black;
float: left;
border: 1px solid white;
float: left;}

.cont_gen .list{width: 25%;
height: 100%;
border: 1px solid white;
float: left;}

/* lista lingue footer */
footer .lang{width: 100%;
height: 150px;
border: 1px solide white;
float: left;}

.cont_gen ul li{color: white;}

/* contenuto copyright */
footer .legal{width: 100%;
height: 150px;
border: 1px solide white;
float: left;}

.cont_gen .log_left{width: 20%;
height: 100%;
border: 1px solid white;
float: left;}

.cont_gen .leg_right{width: 30%;
height: 100%;
border: 1px solid white;
float: right;}
