*{box-sizing: border-box;
margin: 0;
font-family: Arial;}

* div{border-radius: 2px;}

.container::after{clear: both;
content: "";
display: table;}

.container{width: 100%;
height: 100%;}

.cont_gen{width: 80%;
height: 100%;
margin: 0 auto;
border: 1px solid red;
position: relative;
}

/* contenuto barra login */
.login{width: 100%;
height: 80px;
background-color:#e6eff2;
border-top: 1px solid black;
border-bottom: 1px solid black;
position:fixed;
left: 0;
top: 0;
z-index: 1;}

.login .cont_gen div{display: inline-block;}

.eng{width: 10%;}

.eng, .cont{float: left;
display: inline-block;
font-size: 20px;
line-height: 80px;}

.login .cont_gen a {display: inline-block;
text-decoration: none;
color: black;}

.login .cont_gen i{display: inline-block;}

.search, .log, .free{float: right;
line-height: 80px;
margin: 0 20px;}

.log button, .free button {width: 80px;
height: 40px;
border-radius: 2px;
border-color: orange;
border: 1px solid orange;
background-color: white;
color: orange;}

.free button {width: 160px;
color: white;
background-color: orange;}

.login::after{clear: both;
content: "";
display: table;}

/* contenuto barra navigazione */
nav{width: 100%;
height: 80px;
background-color: white;
float: left;
margin-top: 80px;}

.cont_gen .logo1{width: 10%;
height: 100%;
float: left;}

#navi li{display: inline-block;
float: right;
line-height: 80px;
margin-right: 30px;}

#navi li a{text-decoration: none;
color: black;
font-size: 20px;}

/* contenuto barra nera sotto la nav */
.bar_black{width: 100%;
height: 80px;
background-color: black;
float: left;}

.cont_gen .attention{width: 70%;
height: 100%;
color: white;
display: inline-block;
line-height: 80px;
font-size: 16px;}

.cont_gen .listen{float: right;
line-height: 80px;}

.listen button{width: 150px;
height: 40px;
margin-right: 210px;
}

/* contenuto blocco immagine 1 blue */
.cont_img1{width: 100%;
height: 700px;
background-image: linear-gradient(to right, #04a5e0, #1cede6);
border-bottom: 2px solid black;
float: left;}

.cont_gen .there{float: left;
width: 40%;
height: 300px;
margin-top: 100px;}

.cont_gen .there h1{font-size: 55px;
color: white;}

.cont_gen .there p{margin-top: 20px;
color: white;}

.cont_gen .there button {width: 220px;
height: 70px;
margin-top: 20px;
font-weight: bold;}

#foot_there{font-size: 12px;}

/* contenuto immagine 2 con cubo e blocchi */
.cont_img2{width: 100%;
height: 600px;
background-color: #e6eff2;
float: left;}

.cont_gen .kubik{width: 70%;
height: 400px;
text-align: center;
float: left;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
position: absolute;
}

.kubik img{width: 400px;}

.kubik h2{font-size: 30px;
margin-bottom: 20px;}

/* contenuto blocco orizontale sotto cubo */
.cont_img3{width: 100%;
height: 300px;
background-color:#e6eff2;
border: 1px solid black;
float: left;}

#back_white{background-color: white;
box-shadow: 5px 5px 5px 5px rgba(187, 193, 193, 0.5); }

#back_white:hover{background-color: white;
box-shadow: 10px 10px 10px 10px rgba(187, 193, 193, 0.5); }


.cont_gen .img_libro{width: 30%;
height: 100%;
border: 1px solid black;
float: left;
background-color: white;
position: relative;}

.cont_gen .text_libro{width: 60%;
height: 100%;
border: 1px solid black;
float: right;
background-color: white;}

.img_libro img {width: 300px;
position: absolute;
left: 50%;
transform: translate(-50%);}

.img_libro button{position: absolute;
left: 50%;
top: 90%;
transform: translate(-50%, -90%);
width: 150px;
height: 40px;
color: white;
background-color: orange;
font-weight: bold;
border: none;
}

.text_libro h3 {margin-top: 30px;
margin-bottom: 20px;
font-size: 20px;}

.text_libro h4{ margin: 40px 0px;}

.text_libro p{padding-right: 100px;}

.text_libro i{color: orange;}

/* comtenuto container con tre blocchi verticali */
.cont_3blocchi{width: 100%;
height: 700px;
background-color:#e6eff2;
border: 1px solid black;
float: left;}

.col_1, .col_2, .col_3{width: 30%;
height: 600px;
background-color: white;
border: 1px solid black;
margin-top: 5%;
position: relative;
box-shadow: 5px 5px 5px 5px rgba(187, 193, 193, 0.5)}

.col_1:hover, .col_2:hover, .col_3:hover{box-shadow: 10px 10px 10px 10px rgba(187, 193, 193, 0.5)}

.col_1{float: left;}

.col_2{float: right;}

.col_3{float: right;
margin-right: 5%;}

.col_1 img, .col_2 img, .col_3 img{width: 200px;
position: absolute;
left: 50%;
transform: translate(-50%);}

.col_1 #small_tit,
.col_2 #small_tit,
.col_3 #small_tit{margin-top: 250px;}

.col_1 h3, .col_1 h4,
.col_2 h3, .col_2 h4,
.col_3 h3, .col_3 h4{text-align: center;}

.col_1 p, .col_1 div,
.col_2 p, .col_2 div,
.col_3 p, .col_3 div{margin-left:20px;}

.col_1 h4,
.col_2 h4,
.col_3 h4{margin: 40px 0 20px 0;}

.col_1 i,
.col_2 i,
.col_3 i{margin-right: 10px;
color: orange;}

.col_1 div,
.col_2 div,
.col_3 div{margin-top: 5px;}

.col_1 button,
.col_2 button,
.col_3 button {position: absolute;
left: 50%;
top: 95%;
transform: translate(-50%, -95%);
width: 150px;
height: 40px;
color: white;
background-color: orange;
font-weight: bold;
border: none; }


/* container testo in spazio verde */
.container_green1{width: 100%;
height: 300px;
background-image: linear-gradient(to right,#03c4b1, #00efd8 );
border: 1px solid black;
float: left;
}

.cont_gen .text{text-align: center;
color: white;
width: 100%;}

.cont_gen .text h2,
.cont_gen .text p{text-align: center;
  padding: 0 200px;
}

.cont_gen .text h2{text-align: center;
font-size: 35px;
margin: 100px 0 20px 0;}

/* container tabella in spazio verde */
.container_green2{width: 100%;
height: 600px;
background-image: linear-gradient(to right,#03c4b1, #00efd8 );
border: 1px solid black;
float: left;}

.cont_gen .tab{width: 100%;
height:500px;
border: 1px solid black;}

.tab .block{ width: 25%;
height: 50%;
float: left;
position: relative;}

.block img{width: 80px;
position: absolute;
left: 50%;
top: 10%;
transform: translate(-50%, -10%);}

.block h2{ color: white;
font-size: 50px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
position: absolute;}

.block p{color: white;
position: absolute;
left: 50%;
top: 70%;
transform: translate(-50%, -70%);
font-size: 14px;
}

#b1, #b2, #b3, #b4{border-bottom:2px solid white;}

#b2, #b6{border-left: 2px solid white;
border-right: 2px solid white;}

#b3, #b7{border-right: 2px solid white;}


/* container spazio bianco con testo e icone */
.white_icons{width: 100%;
height: 500px;
background-color: white;
border: 1px solid black;
float: left;
position: relative;}

.cont_gen .w_text{width: 30%;
height: 40%;
border: 1px solid black;
float: left;
margin-top: 100px;}

.cont_gen .w_icons{width: 50%;
height: 60%;
border: 1px solid black;
float: right;
margin-top: 50px}

.w_icons .icon{width: 25%;
height:50%;
border: 1px solid black;
float: left;}

.w_text h2{text-align: center;
font-size: 50px;}

.w_text p{text-align: center;
font-size: 20px;
margin-top: 20px;}

.w_icons .icon img{width: 150px;}

/* container spazio bianco con testo e foto ragazza */
.white_foto{width: 100%;
height: 600px;
border: 1px solid black;
background-color: white;
float: left;}

.cont_gen .w_button{width: 40%;
height: 70%;
border: 1px solid black;
float: left;
position: relative;
margin-top:100px; }

.cont_gen .w_girl{width: 40%;
height: 70%;
border: 1px solid black;
float: right;
position: relative;
margin-top: 100px;}

.w_button h2{font-size: 40px;
margin-bottom: 40px;}

.w_button button{width: 200px;
height: 50px;
position: absolute;
top: 50%;
font-size: 16px;
font-weight: bold;
color: white;
background-color: orange;
border: none;}

.w_button p:last-child{line-height: 200px;
font-size: 12px;}

.w_girl  img{width: 300px;
position: absolute;
bottom: 10%;}

/* contenuto liste footer */
footer{width: 100%;
height: 100%;
background-color: black;
float: left;}

.foot_cont{width: 100%;
height: 500px;
background-color: black;
float: left;
border: 1px solid white;
float: left;}

.cont_gen .list{width: 25%;
height: 100%;
border: 1px solid white;
float: left;}

.list h4{color: white;
margin-top: 50px;
margin-left: 40px;}

.list ul li{list-style-type: none;
color: white;
padding: 10px 0;}

.list ul li a{text-decoration: none;
color: white;}

.list button{height: 50px;
margin-left: 40px;
margin-top: 20px;}

.icon_list li{display: inline-block;
margin-right: 20px;
margin-top: 10px;
font-size: 20px;}

/* lista lingue footer */
footer .lang{width: 100%;
height: 150px;
border: 1px solide white;
float: left;
position: relative;}

.lang .cont_gen ul{text-align: center;
line-height: 150px;}

.lang .cont_gen ul li{color: white;
list-style-type: none;
display: inline-block;
padding: 0 20px;
}

/* contenuto copyright */
footer .legal{width: 100%;
height: 150px;
border: 1px solide white;
float: left;}

.cont_gen .log_left{width: 20%;
height: 100%;
border: 1px solid white;
float: left;}

.cont_gen .leg_right{width: 30%;
height: 100%;
border: 1px solid white;
float: right;}

.log_left img{width: 150px;
margin-top: 10px;}

.log_left p{color: white;
font-size: 14px;
margin-top: 10px;}

.leg_right ul li{display: inline-block;
margin-top: 40px;}

.leg_right ul li a{text-decoration: none;
color: white;
margin-left: 60px;}
